:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
  }
  
  $shadow: .3rem .3rem .6rem var(--greyLight-2), 
  -.2rem -.2rem .5rem var(--white);
  $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
  inset -.2rem -.2rem .5rem var(--white);
  

html {
    background-color: var(--greyLight-1);
}
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vh;
    height: 60vh;
    background: linear-gradient(45deg, #b3bfd1 0%, #3b2ad6 100%); 
    box-shadow:.8rem .8rem 1.4rem var(--greyLight-2), 
            -.2rem -.2rem 1.8rem var(--white);
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.numbers {
    position: relative;
    width: 300px;
    height: 150px;
    top: 13px;
    left: 0;
    
    .one-1 {
        position: absolute;
        top: 0; 
        left: 39px;
        background-color: rgb(255, 255, 255);
        width: 20px;
        height: 45px;
        transform: rotate(45deg);
        box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }
    .one-2 {
        position: absolute;
        top: 0; 
        left: 60px;
        background-color: rgb(255, 255, 255);
        width: 20px;
        height: 105px;
        box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    }
    .zero-1,
    .zero-2 {
        position: absolute;
        top: 0; 
        left: 76px;
        border-radius: 99px;
        border: 24px solid rgb(255, 255, 255);
        width: 60px;
        height: 60px;
        transform: rotate(45deg);
        box-shadow: 0 0 13px 0 rgba(0.2, 0.2, 0.2, 0.2);
    }
    .zero-2 {
        left: 161px;
    }
}
.big {
    position: relative;
    top: -42px;
    left: 64px;
    width: 300px;
    height: 50px;
    color: white;
    display: block;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}
.small {
    position: relative;
    top: -14px;
    left: 33px;
    width: 300px;
    height: 50px;
    color: white;
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}
